---
import LogoBosa from '@/components/LogoBosa.astro';
import MainLayout from '@/layouts/MainLayout.astro';
---
	
<MainLayout>

	<h1 class="text-3xl">Home Page</h1>

	<div class="flex justify-center items-center text-blue-100 hover:text-blue-600 transition-colors duration-300 border-2 border-blue-100 rounded-lg p-4">
		<LogoBosa />
	</div>

</MainLayout>